<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<style>
		* {
			margin: 0;
			padding: 0;
			font-family: 'Roboto', sans-serif;
			font-size: 12px;
		}

		#main {
			width: 100%;
			max-width: 350px;
			padding: 15px;
			margin: 0 auto;
			border-radius: 5px;
			border: solid 1px #00000010;
		}

		#check {
			position: relative;
			background-color: #32a85250;
			width: 26px;
			height: 26px;
			margin: 0 auto;
			border-radius: 20px;
			padding: 7px;
		}

		#check #check_inside {
			background-color: #32a852;
			width: 26px;
			height: 21px;
			border-radius: 13px;
			text-align: center;
			padding-top: 5px;
		}

		#check #check_inside #mark {
			color: #fff;
		}

		h1 {
			color: #32a852;
			text-align: center;
			font-size: 20px;
		}

		#amount {
			margin-top: 15px;
			width: calc(100% - 30px);
			padding: 15px;
			border-radius: 5px;
			background-color: rgba(0, 0, 0, .05);
			text-align: center;
		}

		h2 {
			font-size: 22px;
			font-weight: bold;
			color: rgba(0, 0, 0, .8);
		}

		table {
			width: 100%;
		}

		table tbody tr td {
			font-size: 16px;
		}

		table tbody tr td.bold {
			text-align: right;
			font-weight: bold;
		}
	</style>
</head>
<body>
	<div id="main">
		<div id="check">
			<div id="check_inside">
				<span id="mark">&#10003;</span>
			</div>
		</div>
		<br>

		<h1>Pago Recibido!</h1>
		<br>

		<div id="amount">
			<p>Total Pagado</p>
			<h2>DOP {{ amount }}</h2>
		</div>
		<br>
		<br>

		<table>
			<tbody>
				<tr>
					<td>Factura #</td>
					<td class="bold">INV-{{ invoice_number }}</td>
				</tr>
				<tr>
					<td>Fecha</td>
					<td class="bold">{{ date }}</td>
				</tr>
				<tr>
					<td>Hora</td>
					<td class="bold">{{ time }}</td>
				</tr>
				<tr>
					<td>Servicio</td>
					<td class="bold">{{ service_name }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
